.container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.avatar {
  border-radius: 50px;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: gray;
  font-weight: bold;
}

.username {
  font-weight: 500;
}
