.container {
  display: flex;
  flex-direction: row;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 96px;
}

.desc {
  font-size: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  font-size: 16px;
}

.button:first-child {
  background: var(--btn);
  color: var(--text);
}

.brands {
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
}

.imageContainer {
  flex: 1;
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }

  .imageContainer {
    flex: none;
    width: 100%;
    height: 520px;
  }

  .buttons {
    justify-content: center;
    gap: 50px;
  }
}
